
@{

}




<div class="create-page conteiner">
    <form action="Create" method="get">
        <fieldset>Category
            <select id="" name="">
                <option value=""></option>

                <option value="0">Action</option>

                <option value="1">Drama</option>

                <option selected="selected" value="2">Comedy</option>

                <option value="3">Science Fiction</option>
            </select>
            <a class="btn btn-primary"><input type="submit" value="Submit" /> </a>


        </fieldset>
    </form>
</div>
